@font-face {
  src: url("../fonts/Poppins-Light.ttf");
  font-family: "Poppins-Light";
}
@font-face {
  src: url("../fonts/Poppins-Bold.ttf");
  font-family: "Poppins-Bold";
}

body {
  font-family: Poppins-Light, sans-serif;
  color: #222222;
  line-height: 25px;
}

h1 {
  font-family: Poppins-Light, sans-serif;
  font-size: 60px;

  margin-bottom: 15px;
}

h3 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 20px;

  margin-bottom: 15px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px 50px;
} 

.logo-nav {
  width: 150px;
}

.projects-container, .nav, .title, footer {
  width: 80%;
  margin: 0 auto;
}

.title {

  padding: 25px 50px;
  margin-top: 30px;
  margin-bottom: 50px;

}

img {
  width: 100%;
}

.project {
  display: flex;
  align-items: center;
}

.project-img {
  width: 50%;
}

.project-info {
  width: 50%;
  padding: 80px;
}

.button {
  background-color:#00d6ae;
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px 50px;
}

.logo-monog {
  width: 50px;
}



@media only screen and (max-width: 414px) {
  .projects-container {
    width: 90%;
  }

  .project {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
  }
  
  .project-info {
    width: 100%;
    margin-left: 0px;
  }
  
}